/WORKSPACE/SourceCode/GripsStore/GripsStore/obj
/WORKSPACE/SourceCode/GripsStore/GripsStore/App_Data
/WORKSPACE/SourceCode/GripsStore/GripsStore/bin
/WORKSPACE/SourceCode/GripsStore/.vs
/WORKSPACE/SourceCode/GripsStore/GripsStore/Files/Icon
