<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link href="../../Content/App/login.css?UpDate=202002051338" rel="stylesheet" />
    <link href="../../Content/ttGuard_1.0.0.css?UpDate=202002051338" rel="stylesheet" />
    <link rel="icon" href="../../Images/icon.ico" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <title>Gripsストア　ー　ログイン</title>
</head>
<body>
    <div class="parent">
        <div class="content">
            <div class="row login-tittle">ログイン</div>
            <input id="username" class="row form-control input-lg" type="text" placeholder="ユーザー名" autofocus maxlength="10" />
            <input id="password" class="row form-control input-lg" type="password" placeholder="パスワード" maxlength="10" />
            <label id="warring" class="row warring invisible"></label>
            <button id="btn-login" class="row btn btn-primary btn-lg">ログイン</button>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="../Scripts/App/login.js?UpDate=202002101007"></script>
    <script src="../../Scripts/ttCookie_1.0.0.js"></script>
    <script src="../../Scripts/ttGuard_1.0.0.js?UpDate=202002101014"></script>
</body>
</html>