table {
    font-family: arial, sans-serif;
    /*border-collapse: collapse;*/
    width: 100%;
}


td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.table-head {
}

tr:nth-child(even) {
}

form {
    margin-top: 25px;
    /* padding-top: 40px;*/
}
