table {
    font-family: arial, sans-serif;
    /*border-collapse: collapse;*/
    width: 100%;
    margin-top: 25px;
}


td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.table-head {
}

tr:nth-child(even) {
}

#adbutton {
}

#staffCode {
}

#kanaName {
}

#kanjiName {
}

#td-adbutton {
}
