table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
    margin-top: 25px;
    position:center;
}


td, th {
    border-bottom: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}



.table-head {
}

.table tbody tr:hover td, .table tbody tr:hover th {
    background-color: #a3c2ff;
}



#staffCode {
    width: 25%;
}

#kanaName {
    width: 25%;
}

#kanjiName {
    width: 25%;
}

/*#search {
    width: 20%;
}*/

#register {
    width: 25%;
}
