table {
    font-family: arial, sans-serif;
    /*border-collapse: collapse;*/
    width: 100%;
    margin-top: 25px;
}


td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr.change_on_over:hover td {
    background: #5f73ee;
}

.table-head {
}

tr:nth-child(even) {
}

#adbutton {
}

#staffCode {
    width: 20%;
}

#kanaName {
    width: 20%;
}

#kanjiName {
    width: 20%;
}

#search {
    width: 20%;
}

#register {
    width: 20%;
}
