.app-detail {
    margin-top: 10px;
    margin-left: -5px;
    margin-right: -5px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 5px grey;
    background-color: white;
}

.column-icon {
    float: left;
    width: 150px;
}

.column-info {
    float: left;
    width: calc(100% - 160px);
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.row {
    margin: 10px 5px 0px 5px;
}


.app-icon {
    width: 140px;
    height: 140px;
}

#app-icon {
    display: block;
    width: auto;
    max-width: 140px;
    max-height: 140px;
    margin-right: auto;
    margin-left: auto;
}

.app-name-label {
    font-size: large;
    color: black;
    padding: 0px;
}

#app-name {
    max-width: calc(100% - 10px);
    text-align: left;
    display: inline-block;
    color: black;
    font-size: larger;
    white-space: pre-wrap;
    word-wrap: break-word;
}

#app-description {
    display: inline-block;
    text-align: justify;
    color: black;
    font-size: medium;
    max-width: calc(100% - 10px);
}

.detail-label {
    display: block;
    float: left;
    font-size: medium;
    color: black;
    padding: 0px;
}

.app-version {
    font-size: medium;
    color: black;
}

.btn-download {
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
    vertical-align: bottom;
}

#admin button {
    float: right;
    width: 100px;
    text-align: center;
}

#btn-cancel {
    margin: 5px;
}

#btn-update {
    margin: 5px 0px 5px 5px;
}

#btn-edit-icon {
    width: auto;
    margin: 5px 0px 5px 0px !important;
}
