.home-content {
    /*background: #808080;*/
}
/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: calc(50% - 10px);
    margin: 5px;
    height: 280px;
    background: #ffffff;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.app-item {
    box-shadow: 2px 2px 5px grey;
    padding: 10px;
}

.add-item {
    box-shadow: 2px 2px 5px grey;
    float: left;
    width: calc(50% - 10px);
    margin: 5px;
    height: 280px;
    background: #ffffff;
}

.app-icon {
    display: block;
    width: auto;
    max-height: 100px;
    max-width: 100px;
    margin: auto;
}

.app-img-root {
    margin-bottom: 5px;
    display: block;
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}

.app-name {
    width: 100%;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
    color: black;
    font-size: large;
    font-weight: bold;
}

.app-description {
    width: 100%;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
    color: gray;
    font-size: medium;
    height: 20px;
}

#div-btn {
    position: relative;
    left: calc(50% - 60px);
    width: 120px;
    height: 100%;
}

#btn-add-item {
    width: 120px;
    height: 50px;
    position: relative;
    top: calc(50% - 25px);
}

@media print {
    .add-item {
        display: none;
    }

    .app-item {
        border: solid;
    }

    /*.app-name {
    }*/
}
