body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: #EEEEEE;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    height: 100%
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,*/
select,
textarea {
    max-width: 280px;
}

#input-search {
    width: calc(100% - 60px - 60px - 5px - 60px - 5px);
    height: 100%;
    display: inline;
}

#btn-search {
    width: 60px;
    height: 100%;
}

#btn-login {
    width: 60px;
    height: 100%;
}

    #btn-login img {
        max-width: 100%;
        max-height: 100%;
    }

#home {
    width: 40px;
    height: 100%;
    padding: 2px;
}

.page-break {
    display: none;
}

@media print {
    @page {
        size: A4;
        margin-top: 0mm;
        margin-right: 20mm;
        margin-left: 20mm;
        margin-bottom: 0mm;
    }

    .page-break {
        display: block;
        page-break-before: always;
    }

    .navbar-fixed-top {
        display: none !important;
    }
}
