@section css{
    <link href="~/Content/App/detail.css" rel="stylesheet" />
    <link href="~/Content/App/site.css" rel="stylesheet" />
}
@if (ViewData["App"] != null)
{
    var app = ViewData["App"] as GripsStore.Models.App;
    var staffCode = "";
    if (Request.Cookies["GRIPS_STORE_STAFFCODE"] != null)
    {
        staffCode = Request.Cookies["GRIPS_STORE_STAFFCODE"].Value;
    }
    <div class="app-detail">
        <div class="row">
            <div class="column-icon">
                <img class="app-icon" src="../../Files/Icon/@app.icon" />
            </div>
            <div class="column-info">
                <div class="row label app-name">@app.name</div>
                <div class="row">
                    <div class="label detail-label">バージョン：</div>
                    <div class="label app-version">@app.verNm</div>
                </div>
                <button class="row btn btn-success btn-lg btn-download" onclick="window.location.href = '/Files/InstallFile/@app.fileNm';">ダウンロード</button>
            </div>
        </div>
        <div class="row label app-description">@app.description</div>
        @if (staffCode != "")
        {
            <div id="admin" class="row">
                <button id="btn-delete" class="btn btn-danger">削除</button>
                <button id="btn-edit" class="btn btn-primary">編集</button>
            </div>
        }
    </div>
}
@section scripts {
    <script src="../../Scripts/App/detail.js"></script>
    <script src="../../Scripts/App/site.js"></script>
    <script src="../../Scripts/ttCookie_1.0.0.js"></script>
}