@section css{
    <link href="~/Content/App/detail.css" rel="stylesheet" />
}
<div class="home-content">
    <div class="app-detail">
        @if (ViewData["App"] != null)
        {

        }
    </div>
</div>
@section scripts {
    <script src="../Scripts/App/Home/detail.js"></script>
    <script src="../Scripts/site.js"></script>
}