@section css{
    <link href="~/Content/App/detail.css?UpDate=202002261452" rel="stylesheet" />
    <link href="~/Content/App/site.css?UpDate=202002071636" rel="stylesheet" />
    <link href="../../Content/ttGuard_1.0.0.css?UpDate=202002051338" rel="stylesheet" />
    <link href="~/Content/staffView/details.css" rel="stylesheet" />

}

@if (ViewData["Staffs"] != null)
{
    // var an = "lytruongan";
    var staffCode1 = "";
    if (Request.Cookies["GRIPS_STORE_STAFFCODE"] != null)
    {
        staffCode1 = Request.Cookies["GRIPS_STORE_STAFFCODE"].Value;
    }


    <div class="detail-staff">
        @foreach (var staff in ViewData["Staffs"] as List<GripsStore.Models.Staff>
            )
        {
            <form>
                <div class="form-group">
                    <label for="staffCode">staffCode</label>
                    <input type="text" class="form-control" id="staffCode" value="@staff.staffCode" readonly>

                </div>
                <div class="form-group">
                    <label for="kanaName">kanaName</label>
                    <input type="text" class="form-control" id="kanaName" value="@staff.kanaName">
                </div>
                <div class="form-group">
                    <label for="kanjiName">kanjiName</label>
                    <input type="text" class="form-control" id="kanjiName" value="@staff.kanjiName">

                </div>


                <div class="form-group">
                    <label for="exampleCheck1"></label>
                    <input type="hidden" class="form-control" id="generationno" value="@staff.generationno" readonly>

                </div>





                <button class="btn btn-primary" id="btn-submit">Submit</button>
            </form>
        }
    </div>







}
@section scripts {
    <script src="~/Scripts/Staff/details.js"></script>
    <script src="../../Scripts/ttCookie_1.0.0.js"></script>
    <script src="../../Scripts/ttGuard_1.0.0.js?UpDate=202002101014"></script>
}
