@section css{
    <link href="~/content/app/detail.css?update=202002261452" rel="stylesheet" />
    <link href="~/Content/App/site.css?UpDate=202002071636" rel="stylesheet" />
    <link href="../../Content/ttGuard_1.0.0.css?UpDate=202002051338" rel="stylesheet" />
    <link href="~/Content/staffView/staff.css" rel="stylesheet" />
}
@if (ViewData["Staffs"] != null)
{
    // var an = "lytruongan";
    var cookie = "";
    if (Request.Cookies["GRIPS_STORE_STAFFCODE"] != null)
    {
        cookie = Request.Cookies["GRIPS_STORE_STAFFCODE"].Value;
    }


    if (cookie == "9999")
    {
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Staff Code</th>
                    <th>Kana Name</th>
                    <th>Kanji Name</th>

                    <th id="123"><a href="/Staff/Register/">NEW</a></th>

                </tr>

            </thead>
            <tbody>
                @foreach (var staff in ViewData["Staffs"] as List<GripsStore.Models.Staff>)
                {
                    <tr>

                        <td id="staffCode"><a href="/Staff/Details?code=@staff.staffCode"> @staff.staffCode</a></td>
                        <td>@staff.kanaName</td>
                        <td>@staff.kanjiName</td>

                        <td>
                            <div id="admin" class="row admin-button">
                                <a href="/Staff/Details?code=@staff.staffCode" class="btn btn-sm btn-info">Edit </a>

                                <a href="/Staff/delete?code=@staff.staffCode" class="btn btn-sm btn-danger">Delete </a>
                                @*<button id="btn-delete" class="btn btn-danger">Delete</button>
                                    <button id="btn-edit" class="btn btn-primary">Edit</button>*@


                            </div>
                        </td>
                    </tr>
                }


            </tbody>
        </table>
    }
    else
    { <h1 style="margin-left : 20px; margin-top: 40px ">
            管理者の役割のみ戻る
            <a href="/" style="margin-left:20px">戻る</a>
        </h1>
    }






}
@section scripts {
    <script src="../../Scripts/ttCookie_1.0.0.js"></script>
    <script src="../../Scripts/ttGuard_1.0.0.js?UpDate=202002101014"></script>

}