@section css{
    <link href="~/content/app/detail.css?update=202002261452" rel="stylesheet" />
    <link href="~/Content/App/site.css?UpDate=202002071636" rel="stylesheet" />
    <link href="../../Content/ttGuard_1.0.0.css?UpDate=202002051338" rel="stylesheet" />
    <link href="~/Content/staffView/staff.css" rel="stylesheet" />

    <link href="~/Content/staffView/register.css" rel="stylesheet" />
}
@if (ViewData["Staffs"] != null)
{
    // var an = "lytruongan";
    var cookie = "";
    if (Request.Cookies["GRIPS_STORE_STAFFCODE"] != null)
    {
        cookie = Request.Cookies["GRIPS_STORE_STAFFCODE"].Value;
    }


    if (cookie == "9999")
    {
        <table id="main-table" class="table table-hover">
            <thead>
                <tr>
                    <th id="staffCode">職員コード</th>
                    <th id="kanaName">カナ氏名</th>
                    <th id="kanjiName">漢字氏名</th>
                    @*<th id="register"><a href="/Staff/Register/">NEW</a></th>*@
                </tr>

            </thead>
            <tbody id="tbody">
                @foreach (var staff in ViewData["Staffs"] as List<GripsStore.Models.Staff>)
                {
                    <tr>

                        <td class="staffCodeQuery"><a href="/Staff/Details?code=@staff.staffCode"> @staff.staffCode</a></td>
                        <td>@staff.kanaName</td>
                        <td>@staff.kanjiName</td>

                        <td>
                            <div>
                                <button class="btn btn-danger">Delete</button>
                                <button class="btn btn-primary">Edit</button>
                            </div>
                        </td>

                    </tr>
                }


            </tbody>
        </table>
        <ul class="pager">
            <li><a>First page</a></li>
            <li><a href="#">Page Before</a></li>
            <li><a href="#">Page After</a></li>
            <li><a href="#"><span id="info">1</span></a></li>
            <li><a href="#">Last page</a></li>
            <li style="display:none"><a href="#">Last ajax</a></li>

        </ul>
    }
    else
    { <h1 style="margin-left : 20px; margin-top: 40px ">
            管理者の役割のみ戻る
            <a href="/login/" style="margin-left:20px">戻る</a>
        </h1>
    }






}
@section scripts {
    <script src="~/Scripts/Staff/paging.js"></script>
    <script src="../../Scripts/ttCookie_1.0.0.js"></script>
    <script src="../../Scripts/ttGuard_1.0.0.js?UpDate=202002101014"></script>
    <script src="~/Scripts/Staff/index.js"></script>

}