@section css{
    <link href="~/content/app/detail.css?update=202002261452" rel="stylesheet" />
    <link href="~/Content/App/site.css?UpDate=202002071636" rel="stylesheet" />
    <link href="../../Content/ttGuard_1.0.0.css?UpDate=202002051338" rel="stylesheet" />
    <link href="~/Content/staffView/staff.css" rel="stylesheet" />
}
@if (ViewData["Staffs"] != null)
{
    // var an = "lytruongan";
    var cookie = "";
    if (Request.Cookies["GRIPS_STORE_STAFFCODE"] != null)
    {
        cookie = Request.Cookies["GRIPS_STORE_STAFFCODE"].Value;
    }


    if (cookie == "9999")
    {
        <table id="main-table" class="table table-hover">
            <thead>
                <tr>
                    <th id="staffCode">Staff Code</th>
                    <th id="kanaName">Kana Name</th>
                    <th id="kanjiName">Kanji Name</th>

                    <th id="search">

                        <form id="search-form">
                            <div class="search-box">
                                <input class="search-box" id="search-input" type="text" placeholder="Search" aria-label="Search">
                            </div>
                        </form>

                    </th>
                    <th id="register"><a href="/Staff/Register/">NEW</a></th>

                </tr>

            </thead>
            <tbody id="tbody">
                @foreach (var staff in ViewData["Staffs"] as List<GripsStore.Models.Staff>)
                {
                    <tr>

                        <td class="staffCodeQuery"><a href="/Staff/Details?code=@staff.staffCode"> @staff.staffCode</a></td>
                        <td>@staff.kanaName</td>
                        <td>@staff.kanjiName</td>

                        <td>
                            <div>
                                @*<a href="/Staff/Details?code=@staff.staffCode" class="btn btn-sm btn-info">Edit </a>
                                    <button class="btn btn-sm btn-danger" style=" float: none; text-align: center;width: 50px;">Delete </button>*@
                                <button class="btn btn-danger">Delete</button>
                                <button class="btn btn-primary">Edit</button>
                                @*<button id="btn-demo" class="btn btn-default">demo</button>*@
                            </div>
                        </td>
                        <td></td>
                    </tr>
                }


            </tbody>
        </table>
        <ul class="pager">
            <li><a href="#">First page</a></li>
            <li><a href="#">Page Before</a></li>
            <li><a href="#">Page After</a></li>
            <li><a href="#"><span id="info">1</span></a></li>
            <li><a href="#">Last page</a></li>

        </ul>
    }
    else
    { <h1 style="margin-left : 20px; margin-top: 40px ">
            管理者の役割のみ戻る
            <a href="/login/" style="margin-left:20px">戻る</a>
        </h1>
    }






}
@section scripts {
    <script src="~/Scripts/Staff/paging.js"></script>
    <script src="../../Scripts/ttCookie_1.0.0.js"></script>
    <script src="../../Scripts/ttGuard_1.0.0.js?UpDate=202002101014"></script>
    <script src="~/Scripts/Staff/index.js"></script>

}