@section css{
    @*<link href="~/content/app/detail.css?update=202002261452" rel="stylesheet" />*@
    <link href="~/content/app/site.css?update=202002071636" rel="stylesheet" />
    <link href="../../content/ttguard_1.0.0.css?update=202002051338" rel="stylesheet" />

    <link href="~/Content/staffView/register-login.css" rel="stylesheet" />
}
@if (true)
{
    var cookie = "";
    if (Request.Cookies["GRIPS_STORE_STAFFCODE"] != null)
    {
        cookie = Request.Cookies["GRIPS_STORE_STAFFCODE"].Value;
    }
    if (cookie == "9999")

    {

        <h2 class="NameTag ">登録フォーム</h2>
        <div class="parent">

            <form class="form-horizontal">
                <br />
                <div class="form-group">
                    <label class="control-label col-sm-3" for="kanaName">カナ名:</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="kanaName" maxlength="20">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="kanjiName">漢字名:</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="kanjiName" maxlength="20">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-3" for="generationno">世代番号:</label>
                    <div class="col-sm-2">
                        <select class="form-control" id="generationno" style="width: 80%">
                            <option value="0">0</option>
                            <option value="1">1</option>

                        </select>

                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <button class="btn btn-primary" id="btn-submit">Submit</button>
                        <button class="btn btn-info" id="btn-cance" type="reset">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    }
    else
    { <h1 style="margin-left : 20px; margin-top: 40px ">
            管理者の役割のみ戻る
            <a href="/login/" style="margin-left:20px">戻る</a>
        </h1>
    }
}







@section scripts {
    <script src="~/Scripts/Staff/register.js"></script>
    <script src="../../Scripts/ttCookie_1.0.0.js"></script>
    <script src="../../Scripts/ttGuard_1.0.0.js?UpDate=202002101014"></script>
}
