@section css{
    <link href="~/content/app/detail.css?update=202002261452" rel="stylesheet" />
    <link href="~/content/app/site.css?update=202002071636" rel="stylesheet" />
    <link href="../../content/ttguard_1.0.0.css?update=202002051338" rel="stylesheet" />
    <link href="~/content/staffview/details.css" rel="stylesheet" />

}


<form>
    <div class="form-group">
        <label for="staffCode">staffCode</label>
        <input type="text" class="form-control" id="staffCode">

    </div>
    <div class="form-group">
        <label for="kanaName">kanaName</label>
        <input type="text" class="form-control" id="kanaName">
    </div>
    <div class="form-group">
        <label for="kanjiName">kanjiName</label>
        <input type="text" class="form-control" id="kanjiName">

    </div>

    <div class="form-group">
        <label for="generationno">generationno</label>
        <input type="text" class="form-control" id="generationno">

    </div>
    <button class="btn btn-primary" id="btn-submit">Submit</button> @*type="submit"*@
</form>










@section scripts {
    <script src="~/Scripts/Staff/register.js"></script>
    <script src="../../Scripts/ttCookie_1.0.0.js"></script>
    <script src="../../Scripts/ttGuard_1.0.0.js?UpDate=202002101014"></script>
}
