@section css{
    <link href="~/Content/App/detail.css?UpDate=202002261452" rel="stylesheet" />
    <link href="~/Content/App/site.css?UpDate=202002071636" rel="stylesheet" />
    <link href="../../Content/ttGuard_1.0.0.css?UpDate=202002051338" rel="stylesheet" />



    <link href="~/Content/staffView/details.css" rel="stylesheet" />
}


<a href=""></a>

@section scripts {
    <script src="~/Scripts/Staff/details.js"></script>
    <script src="../../Scripts/ttCookie_1.0.0.js"></script>
    <script src="../../Scripts/ttGuard_1.0.0.js?UpDate=202002101014"></script>
}
